@inherits LayoutComponentBase

<div class="page">
    <div id="side-bar" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div id="top-row" class="top-row px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <article class="content px-4">
            <div id="view-content">
                @Body
            </div>
        </article>
    </main>
</div>
