@page "/VisualTest/ReattachVisual"
@using LiveChartsCore.SkiaSharpView.Blazor
@using ViewModelsSamples.VisualTest.ReattachVisual

<button type="button" class="btn btn-primary" @onclick="Toggle">Toggle</button>

@if (IsVisible)
{
	<div style="max-width: 400px">
		<CartesianChart
			Series="ViewModel.Series">
		</CartesianChart>
	</div>

	<div style="max-width: 400px">
		<PieChart
			Series="ViewModel.PieSeries">
		</PieChart>
	</div>

	<div style="max-width: 400px">
		<PolarChart
			Series="ViewModel.PolarSeries">
		</PolarChart>
	</div>
}

@code {
	public ViewModel ViewModel { get; set; } = new();

	public bool IsVisible{ get; set; }

	public void Toggle()
	{
		IsVisible = !IsVisible;
	}
}
