@page "/Pies/Gauge1"
@using LiveChartsCore
@using LiveChartsCore.SkiaSharpView.Blazor
@using LiveChartsCore.SkiaSharpView.Extensions

<div class="sample-wrap">
	<PieChart
		Series="Series"
		InitialRotation="-90"
        MinValue="0"
        MaxValue="100">
	</PieChart>
</div>

@code {
    private ISeries[] Series { get; set; }

    protected override void OnInitialized()
    {
        Series = GaugeGenerator.BuildSolidGauge(
            new GaugeItem(
                30,          // the gauge value
                series =>    // the series style
                {
                    series.MaxRadialColumnWidth = 50;
                    series.DataLabelsSize = 50;
                }));
    }
}
