@page "/Pies/Gauge2"
@using LiveChartsCore
@using LiveChartsCore.SkiaSharpView.Blazor
@using LiveChartsCore.SkiaSharpView.Extensions
@using LiveChartsCore.SkiaSharpView.Painting
@using LiveChartsCore.Measure
@using SkiaSharp

<div class="sample-wrap">
	<PieChart
		Series="Series"
		InitialRotation="-225"
        MaxAngle="270"
        MinValue="0"
        MaxValue="100">
	</PieChart>
</div>

@code {
    private ISeries[] Series { get; set; }

    protected override void OnInitialized()
    {
        Series = GaugeGenerator.BuildSolidGauge(
            new GaugeItem(30, series =>
            {
                series.Fill = new SolidColorPaint(SKColors.YellowGreen);
                series.DataLabelsSize = 50;
                series.DataLabelsPaint = new SolidColorPaint(SKColors.Red);
                series.DataLabelsPosition = PolarLabelsPosition.ChartCenter;
                series.InnerRadius = 75;
            }),
            new GaugeItem(GaugeItem.Background, series =>
            {
                series.InnerRadius = 75;
                series.Fill = new SolidColorPaint(new SKColor(100, 181, 246, 90));
            }));
    }
}
