@page "/Pies/Gauge1"
@using LiveChartsCore.SkiaSharpView.Blazor
@using ViewModelsSamples.Pies.Gauge1

<style>
	.sample-wrap {
		display: inline-block;
		max-width: 400px
	}
</style>

<div class="sample-wrap">
	<PieChart
		Series="ViewModel.Series"
		InitialRotation="-90"
        MinValue="0"
        MaxValue="100">
	</PieChart>
</div>

@code {
	public ViewModel ViewModel { get; set; } = new();
}
