@page "/Pies/Processing"
@using LiveChartsCore.SkiaSharpView.Blazor
@using ViewModelsSamples.Pies.Processing

<h1>There are missing features in this sample...</h1>

<PieChart
	Series="ViewModel.Series">
</PieChart>

@code {
	public ViewModel ViewModel { get; set; } = new();
}
