@page "/"
@using LiveChartsCore
@using LiveChartsCore.SkiaSharpView
@using LiveChartsCore.SkiaSharpView.Drawing.Geometries

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<LiveChartsCore.SkiaSharpView.Blazor.CartesianChart
	Series="Series">
</LiveChartsCore.SkiaSharpView.Blazor.CartesianChart>

@code {
	public ISeries[] Series { get; set; }
		= new ISeries[]
		{
			new LineSeries<int> { Values = new int[] { 3,6,2,6 } }
		};
}
