::deep.lvc-content {
    height: 100%;
    width: 100%;
}

::deep canvas {
    height: 100%;
    width: 100%;
}

::deep .lvc-canvas-container {
    height: 100%;
    width: 100%;

    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
