::deep.lvc-content {
    height: 100%;
    width: 100%;
}

::deep canvas {
    height: 100%;
    width: 100%;
}

::deep .lvc-chart-container {
    height: 100%;
    width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    ::deep .lvc-chart-container.column {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

::deep .lvc-canvas-container {
    height: 100%;
    width: 100%;

    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

/* Legends */

::deep .lvc-legend {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

::deep .row-fx .lvc-legend {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

::deep .lvc-legend-container.start {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

::deep .lvc-legend-container.closed {
    display: none !important;
}

::deep .lvc-legend-container canvas {
    width: 100%;
    height: 100%;
}

::deep .lvc-legend-item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    ::deep .lvc-legend-item div {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

/* Tooltips */

::deep .lvc-tooltip-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: transparent;
    padding: 15px;
    -moz-transition: top ease-out 0.2s, left ease-out 0.2s, opacity ease-out 0.2s;
    -o-transition: top ease-out 0.2s, left ease-out 0.2s, opacity ease-out 0.2s;
    -webkit-transition: top ease-out 0.2s, left ease-out 0.2s, opacity ease-out 0.2s;
    transition: top ease-out 0.2s, left ease-out 0.2s, opacity ease-out 0.2s;
}

    ::deep .lvc-tooltip-container.closed {
        display: none;
        opacity: 0;
    }

::deep .lvc-tooltip {
    background-color: white;
    padding: 10px 16px;
    border-radius: 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

::deep .lvc-tooltip-container canvas {
    width: 100%;
    height: 100%;
}

::deep .lvc-tooltip-item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    ::deep .lvc-tooltip-item div {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

/* Toooltips and Legends (Shared) */

::deep .lvc-miniature {
    margin-right: 4px;
    margin-left: 4px;
}
