<Project>
    <!--
        This file is used to control the platforms compiled by visual studio, and
            allow for a faster build when testing for a single platform.

            Instructions:
            1) Copy this file and remove the ".sample" name
            2) Uncomment and adjust the properties below
            3) Make sure to do a Rebuild, so that nuget restores the proper packages for the new target
    -->

    <PropertyGroup>
        <!-- Uncomment each line for each platform that you want to build: -->

        <!-- <OverrideTargetFrameworks Condition="''!='hint: Windows App Sdk (WinUI)'">$(OverrideTargetFrameworks);net7.0-windows10.0.19041.0</OverrideTargetFrameworks> -->
        <!-- <OverrideTargetFrameworks Condition="''!='hint: WASM, Skia'">$(OverrideTargetFrameworks);net7.0</OverrideTargetFrameworks> -->
        <!-- <OverrideTargetFrameworks Condition="''!='hint: .NET 6.0 iOS'">$(OverrideTargetFrameworks);net7.0-ios</OverrideTargetFrameworks> -->
        <!-- <OverrideTargetFrameworks Condition="''!='hint: .NET 6.0 Android'">$(OverrideTargetFrameworks);net7.0-android</OverrideTargetFrameworks> -->
        <!-- <OverrideTargetFrameworks Condition="''!='hint: .NET 6.0 macOS Catalyst'">$(OverrideTargetFrameworks);net7.0-maccatalyst</OverrideTargetFrameworks> -->
    </PropertyGroup>

</Project>
