@page "/General/Animations"
@using LiveChartsCore.SkiaSharpView.Blazor
@using ViewModelsSamples.General.Animations

<h1>There are missing features in this sample...</h1>

<CartesianChart
	Series="ViewModel.Series">
</CartesianChart>

@code {
	public ViewModel ViewModel { get; set; } = new();
}
