@page "/Axes/MatchScale"
@using LiveChartsCore.SkiaSharpView.Blazor
@using ViewModelsSamples.Axes.MatchScale

<div style="background-color: #333333; padding: 20px">
    <CartesianChart
        Series="ViewModel.Series"
        XAxes="ViewModel.XAxes"
        YAxes="ViewModel.YAxes"
        DrawMarginFrame="ViewModel.Frame"
        MatchAxesScreenDataRatio="true"
        ZoomMode="LiveChartsCore.Measure.ZoomAndPanMode.Both"
        TooltipPosition="LiveChartsCore.Measure.TooltipPosition.Hidden">
    </CartesianChart>
</div>

@code {
	public ViewModel ViewModel { get; set; } = new();
}
