@page "/StepLines/AutoUpdate"
@using LiveChartsCore.SkiaSharpView.Blazor
@using ViewModelsSamples.StepLines.AutoUpdate

<div>
	<button type="button" class="btn btn-primary" @onclick="ViewModel.AddItem">Add item</button>
	<button type="button" class="btn btn-primary" @onclick="ViewModel.RemoveItem">Remove item</button>
	<button type="button" class="btn btn-primary" @onclick="ViewModel.UpdateItem">Update item</button>
	<button type="button" class="btn btn-primary" @onclick="ViewModel.ReplaceItem">Replace item</button>
	<button type="button" class="btn btn-primary" @onclick="ViewModel.AddSeries">Add Series</button>
	<button type="button" class="btn btn-primary" @onclick="ViewModel.RemoveSeries">Remove Series</button>
	<button type="button" class="btn btn-primary" @onclick="ToggleConstantChanges">Constant changes</button>
</div>

<CartesianChart
	Series="ViewModel.Series">
</CartesianChart>

@code {
	private bool? _isStreaming = false;

	public ViewModel ViewModel { get; set; } = new();

	public async void ToggleConstantChanges()
	{
		_isStreaming = _isStreaming is null ? true : !_isStreaming;

		while (_isStreaming.Value)
		{
			ViewModel.RemoveItem();
			ViewModel.AddItem();
			await Task.Delay(100);
		}
	}
}
